<header class="header">
    <img src="assets/logo.jpg" alt="logo" class="logo">

    <nav class="navigation-header">
            <a class="name" routerLink="home" routerLinkActive="active" >Inicio</a>
            <a class="name" routerLink="cardapio" routerLinkActive="active">Categoria</a>
            <a class="name" routerLink="cardapio" routerLinkActive="active">Cardápio</a>
            <a class="name" routerLink="">Localização</a>
            <a class="name" routerLink="">Contato</a>

    </nav>

  </header>
  
