@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 60px);
   

}
.burguer{
    margin-bottom: 60px;
}

.btn-space{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}