<div class="body>">
    <h1 class="title"> CARDÁPIO </h1>
    <app-card
        imagemUrl="assets/hamburguer.png"
        title="X-VEGAN"
        ingredientes="Pão, Habúrguer, alface, tomate, queijo e maionese">
    </app-card>

    <app-card
        imagemUrl="assets/hamburguer.png"
        title="X-FITNESS"
        ingredientes="Pão, Habúrguer, alface, tomate, queijo e maionese">
    </app-card>

    <app-card
        imagemUrl="assets/hamburguer.png"
        title="X-INFARTO"
        ingredientes="Pão, Habúrguer, alface, tomate, queijo e maionese">
    </app-card>
</div>
